# Python
__pycache__/
*.pyc

# Environment Secrets
.env
.env.local

# Node / Frontend
node_modules/
AUTOEVAL+/node_modules/
.vite/
AUTOEVAL+/.vite/

# OS
.DS_Store

# Temporary & Cache files
*.log
*.tmp
*.cache
.pytest_cache/

# Database & User Uploads
*.db
*.sqlite
autoeval_backened/uploads/